.container {
    display: flex;
    flex-direction: column;
  }
  
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* padding-left: 60px;
    padding-right: 60px; */
  }